<footer class="py-7 py-lg-8 ">
    <div class="container d-flex flex-column flex-lg-row jc-between ai-lg-center ">
        <div>
            <h2 class="fs-2 font-en mb-lg-0 mb-2">ALPHABOX+</h2>
            <p class="fw-bold mb-lg-0 mb-2 d-none d-lg-block">Copyright © 2023 Hexschool.</p>
        </div>
        <div>
            <span class="material-symbols-outlined fs-80 ">emergency</span>
        </div>
        <ul class="list-unstyled d-flex flex-column  flex-lg-row  mb-0">
            <li class="mb-lg-0 mb-2 "><a href="#" class="text-dark fw-bold text-decoration-none me-4">關於我們</a></li>
            <li class="mb-lg-0 mb-2 "><a href="#" class="text-dark fw-bold text-decoration-none  me-4">產品資訊</a></li>
            <li class="mb-lg-0 mb-2 "><a href="#" class="text-dark fw-bold text-decoration-none  me-4">常見問題</a></li>
            <li class="mb-lg-0 mb-2 "><a href="#" class="text-dark fw-bold text-decoration-none  ">隱私政策</a></li>
        </ul>
        <p class="fw-bold mb-0 d-block d-lg-none">Copyright © 2023 Hexschool.</p>
    </div>
</footer>