<footer class="py-5">
    <div class="container d-flex jc-between ai-center ">
        <div>
            <h2 class="fs-2 font-en mb-0">ALPHABOX+</h2>
            <p class="fw-bold mb-0">Copyright © 2023 Hexschool.</p>
        </div>
        <div>
            <span class="material-symbols-outlined fs-80 ">emergency</span>
        </div>
        <ul class="list-unstyled d-flex ">
            <li><a href="#" class="text-dark fw-bold text-decoration-none  me-4">關於我們</a></li>
            <li><a href="#" class="text-dark fw-bold text-decoration-none  me-4">產品資訊</a></li>
            <li><a href="#" class="text-dark fw-bold text-decoration-none  me-4">常見問題</a></li>
            <li><a href="#" class="text-dark fw-bold text-decoration-none  ">隱私政策</a></li>
        </ul>
    </div>
</footer>