.bg__about{
    @include gradient-x(#300871,#000000)

}

.abouts__bg {
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/about_us.png?raw=true);
    background-size: cover;
    background-position: center;
    height: 280px;

    @include pad {
        background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/mobile/about_us_mobile.png?raw=true);
        background-size: cover;
        background-position: center;
    }
}


.abous__content__textleft {
    width: 43%;

    @include pad {
        width: 100%;
    }
}

.abous__content__textright {
    width: 28%;

    @include pad {
        width: 100%;
    }
}

.text-highline {
    position: relative;

}

.text-highline::before {
    content: "";
    z-index: -1;
    width: 80px;
    height: 12px;
    background: #E9E2F3;
    position: absolute;
    top: 50%;
    right: -12%;
}
.about__check--hover:hover{
    transform: translate(4px, 0px) !important;
        transition: 0.2s;
}