.home__banner {
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true);
    height: 880px;
    background-size: cover;
    background-position: center;
}

// .alphaboxCircle {
//     width: 196px;
//     animation-name: rotate;
//     animation-duration: 4s;
//     animation-timing-function: ...;
//     animation-iteration-count: infinite;
//     animation-fill-mode: both;
// }

// @keyframes rotate {
//     0% {
//         ...
//     }

//     100% {
//         ...
//     }
// }
.home__content__png {
    // background: url(https://lurl.cc/imoTYx);
    z-index: 3;
    height: 1089px;
}

.home__content {
    height: 1089px;
    background-color: #300871;
    z-index: 1;

    .home__content__bg {
        background: url(https://lurl.cc/imoTYx);
        // background: url(https://lurl.cc/imoTYx);
    }


}

.z-index-1 {
    z-index: 1;
}