.home__banner {
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/home_background.png?raw=true);
    min-height: 880px;
    background-size: cover;
    background-position: center;

    @include pad {
        height: auto;
    }
}

// .alphaboxCircle {
//     width: 196px;
//     animation-name: rotate;
//     animation-duration: 4s;
//     animation-timing-function: ...;
//     animation-iteration-count: infinite;
//     animation-fill-mode: both;
// }

// @keyframes rotate {
//     0% {
//         ...
//     }

//     100% {
//         ...
//     }
// }


.home__content {
    background-image: url(/assets/images/carousel_background.png), linear-gradient(#300871, #000000);

    background-repeat: no-repeat;
    height: 1089px;

    @include pad {
        height: auto;
    }



    .home__content__line {

        height: 40px;
        @include gradient-x(#7000FF, #11002D);
    }

    .home__content__line--bottom {
        height: 40px;
        @include gradient-x(#11002D, #7000FF);
    }



}

.bg__home__news {
    @include radial-gradient(#28085c, #000000);
}

.bg__home__use {
    @include radial-gradient(#000000, #28085c);
}

.z-index-1 {
    z-index: 1;
}

.z-index-4 {
    z-index: 4;
}

.rotate {
    rotate: 180deg;
}

.aicard__list--mobile {
    @include mobile {
        height: 406px;
    }

    .aicard__content {
        background-color: #000000;
        transition: 0.7s;

        &:hover {
            background-color: #00000080;
        }
    }
}

// .swiper {
//     overflow: initial;
// }
/* 滾動條可拖曳區塊的顏色 */
.swiper-scrollbar-drag {
    background-color: #fff;
}

/* 整個滾動條的背景顏色 */
.swiper-scrollbar {
    background-color: #000;
}