<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>index</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <!-- home-第一部分 時鐘 -->
    <div class="home__banner pt-88 pt-lg-80">
      <div class="px-lg-80 pt-lg-60">

        <div class="d-flex jc-lg-between">
          <!-- sidenav-left -->
          <div class="w-lg-23 border-bottom border-1 as-end">
            <h2 class="text-white fw-bold fs-lg-6"><a href="#" class="text-decoration-none text-white">最新消息！新版本 v15.4
                釋出，搶先體驗！</a></h2>
          </div>

          <!-- timebox -->
          <div class=" ">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/circle.png?raw=true"
              style="width: 196px; height: 196px;" alt="ALPHABOX+" class="alphaboxCircle img-fluid mx-auto">
          </div>

          <!-- sidenav-right -->
          <div class="w-lg-23 border-top border-1">
            <h2 class="text-white fw-bold mb-0 mt-lg-1 fs-lg-6 ">ALh2HABOX+ STUDIO</h2>

          </div>

        </div>
        <!-- 中間h1 -->
        <div class="pt-lg-56 d-flex jc-lg-between position-relative">
          <div class="position-absolute top-56 start-50 translate-middle-x">

            <h1 class="font-en text-white fs-lg-2 letter-spacing-4 text-center mb-0">ALPHABOX+</h1>
            <p class="mb-0 text-white text-center letter-spacing-2">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
          </div>

          <div class="w-lg-23 position-relative position-absolute top-56 start-0 z-index-1  ">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane.png?raw=true"
              alt="diane" class="img-fluid   ">
            <p class="font-en text-white fs-lg-2 mb-lg-0 position-absolute start-50 top-0 translate-middle-x mt-3 ">
              Diane</p>
          </div>
          <div class="w-lg-23 position-relative position-absolute top-143 start-25 z-index-1 ">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix.png?raw=true"
              alt="felix" class="img-fluid   ">
            <p class="font-en text-white fs-lg-2 mb-lg-0 position-absolute start-50 top-0 translate-middle-x mt-3 ">
              felix</p>
          </div>
          <div class="w-lg-23 position-relative position-absolute top-143 start-50 z-index-1 ">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina.png?raw=true"
              alt="karina" class="img-fluid   ">
            <p class="font-en text-white fs-lg-2 mb-lg-0 position-absolute start-50 top-0 translate-middle-x mt-3 ">
              karina</p>
          </div>
          <div class="w-lg-23 position-relative position-absolute top-56 start-75 z-index-1 ">
            <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito.png?raw=true"
              alt="vito" class="img-fluid   ">
            <p class="font-en text-white fs-lg-2 mb-lg-0 position-absolute start-50 top-0 translate-middle-x mt-3 ">vito
            </p>
          </div>

        </div>













      </div>

    </div>
    <!-- home-第二部分-機器人 -->
    <div class="home__content position-relative">

      <img src="https://lurl.cc/imoTYx" alt="" class="home__content__png position-absolute start-0 top-o bottom-0">
<h2>什麼是</h2>
<h2>ALPHABOX+</h2>


    </div>

    <!-- home-第三部分-最新消息 -->
    <div class="bg-primary ">
      <div class="container">
        <h2 class="fw-bold display-5 text-white letter-spacing-2">最新消息</h2>
        <div class=" border-top border-bottom border-1 py-lg-6 ">
          <p class="fw-bold letter-spacing-2 text-white mb-lg-1 d-flex ai-center"><span
              class="material-symbols-outlined me-1">emergency </span>2023.06.30</p>
          <h3 class="fw-bold text-white fs-5 mb-lg-12">產品升級公告</h3>
          <div class="row">
            <div class="col-lg-9">
              <p class="fw-bold text-white mb-0 ">榮幸地宣布，ALPHABOX+
                已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！</p>
            </div>
            <div class="col-lg-2">

              <span class="material-symbols-outlined  text-white fs-4">
                line_end_arrow_notch
              </span>
            </div>
          </div>

        </div>
      </div>
    </div>

    <%- include('./layout/footer'); -%>
      <script type="module" src="../main.js"></script>
</body>

</html>